<footer style="color: #989898; font-size: 14px;">
    <p><%= new Date().getFullYear() %> © Alexander Podstrechnyy (@tankalxat34). Неофициальная статистика Tanks Blitz. Контакт <a href="mailto:tankalxat34@gmail.com">tankalxat34@gmail.com</a></p>
    <p><%= new Date().getFullYear() %> © <a style="color: #00ff6a;" href="https://lesta.ru/">Lesta Games</a>. Все права защищены. <a style="color: #00ff6a;" href="https://lesta.ru/support">Центр поддержки пользователей</a>. <a style="color: #00ff6a;" href="https://tanksblitz.ru/ru/">Сайт игры Tanks Blitz</a>.</p>
    <p>Данный сервис не является продуктом Lesta Games и разработан согласно правилам Lesta Games DPP.</p>
    <div class="footer-links">
        <a href="/about">О приложении</a>
        <a href="https://donationalerts.ru/r/tankalxat34" target="_blank">Добровольный взнос автору приложения</a>
    </div>
</footer>

<script src="./src/index.js"></script>