<footer>
    <p style="color: #989898;">© tankalxat34 - <%= new Date().getFullYear() %></p>
    <div class="footer-links">
        <a href="https://vk.com/tankalxat34" target="_blank" title="Автор приложения">ВКонтакте</a>
        <a href="https://github.com/tankalxat34/BlitzSession" target="_blank" title="Репозиторий с последними релизами приложения">GitHub</a>
        <a href="/about">О приложении</a>
        <a href="/donate">Отблагодарить автора</a>
    </div>
</footer>

<script src="./src/index.js"></script>