<meta charset="utf-8">
<!-- <link href="https://developers.lesta.ru/static/1.13.0_lst/assets/img/favicon.ico" rel="shortcut icon" /> -->
<link rel="stylesheet" href="./src/index.css">
<title><%= lesta.nickname %> | Сессионная статистика Tanks Blitz</title>

<script>
    let tankalxat = {
        time: new Date().now()
    }
</script>