<!DOCTYPE html>

<html>
    <head>
        <%- include("./partials/head") %>
    </head>

    <body>
        <%- include("./partials/title_block") %>

        <div class="block">
            <% if (Object.keys(lesta_auth).length == 0) { %>
                <p style="margin-top: 15px;">Необходимо <a href="/auth">войти в аккаунт</a>. Для авторизации используется аккаунт в Lesta Games.</p>
            <% } else if (Object.keys(lesta_auth).length && lesta_auth.status === "ok") {%>
                <h1>
                    <%= lesta_auth.nickname %>
                </h1>
            <% } else {%>
                <h1 style="color: #b80000">Вы отменили вход в аккаунт</h1>
            <% } %> 
        </div>
    </body>

    <%- include("./partials/bottom") %> 
</html>