<!DOCTYPE html>

<html>
    <head>
        <%- include("./partials/head") %>
    </head>

    <body>
        <div class="title-block">
            <h1 style="color: #CED6D5;"><a href="https://tanksblitz.ru/ru/" target="_blank" title="Сайт игры Tanks Blitz"><img src="https://static-lwbp-ru.wgcdn.co/newstatic/images/29799fddea8f26956fd13e2948fecc57.png" alt="logo" width="22px"></a> Поиск игроков</h1>
        </div>

        <div style="height:max-content;">
            <input type="text" style="width: 30%;">
            <button class="primary">Найти</button>
        </div>
        

    </body>

    <%- include("./partials/bottom") %> 
</html>