<!DOCTYPE html>

<html>
    <head>
        <%- include("./partials/head") %>
    </head>

    <body>
        <%- include("./partials/title_block") %>

        <div style="text-align: center; justify-content: center; margin: 15vh;">
            <h2>Сессионная статистика Tanks Blitz</h2>
            <p>Осуществите поиск нужного аккаунта Tanks Blitz и запустите отслеживание статистики по основным показателям</p>
            <div style="margin-top: 20px;">
                <input id="input-search" type="text" style="width: 50%;" placeholder="Введите никнейм или id игрока...">
                <button id="btn-search" class="primary">Найти</button>
            </div>
        </div>
        

    </body>

    <script>
        document.getElementById("btn-search").addEventListener("click", () => {
            window.open("/search?q=" + document.getElementById("input-search").value, "_self")
        })

        document.getElementById("input-search").addEventListener("keyup", (event) => {
            if (event.keyCode === 13) {
                window.open("/search?q=" + document.getElementById("input-search").value, "_self")
            }
        })
    </script>

    <%- include("./partials/bottom") %> 
</html>